<%= render partial: 'shared/breadcrumbs', locals: { links: [{ title: t('authors.index.title'), url: authors_path }], title: @author .name } %>

<div class="row">
  <div class="col-lg-4">
    <% if @author.image.attached? %>
      <p><%= image_tag @author.image %></p>
    <% else %>
      <div class='image-plug-wrap'>
        <div class='bg-secondary image-plug'>
          <%= @author.name %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-8">
    <h1><%= @author.name %></h1>
    <% if @author.original_name.present? %>
      <p><i><%= @author.original_name %></i></p>
    <% end %>
    <% if @author.wikipedia_url.present? %>
      <p><%= link_to t('.wikipedia'), @author.wikipedia_url, target: '_blank' %></p>
    <% end %>
  </div>
</div>
