<div class="row">
  <div class="col-md-6 col-xl-4">
    <%= form_with(model: book) do |form| %>
      <div class="d-grid gap-3">
        <% if book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
              <% book.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :image, class: 'form-label' %>
          <%= form.file_field :image, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :title, class: 'form-label' %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :original_title, class: 'form-label' %>
          <%= form.text_field :original_title, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :description, class: 'form-label' %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :author_id, class: 'form-label' %>
          <%= form.select :author_id, Author.all.collect {|a| [ a.name, a.id ] }, { include_blank: true }, class: 'form-select' %>
        </div>

        <div class="field">
          <%= form.label :goodreads_url, class: 'form-label' %>
          <%= form.text_field :goodreads_url, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :Year_of_publication, class: 'form-label' %>
          <%= form.select :model_year, (Time.zone.now.year - 200)..(Time.zone.now.year) %>
        </div>
        
        <div class="actions">
          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
