<div class="d-flex align-items-center mb-3">
  <h1 class="mb-0 me-3"><%= t('.title') %></h1>
  <% if user_signed_in? && policy(Book).create? %>
    <%= link_to new_book_path, class: 'btn border border-primary' do %>
      <i class="bi bi-plus-lg"></i>
      <%= t('actions.add_record.book') %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-6 col-xl-4">
      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="vertical-card">
              <%= link_to book, class: 'vertical-card-link' do %>
                <% if book.image.attached? %>
                  <span class="vertical-card-img"
                        style="background-image: url(<%= rails_blob_url(book.image) %>)">
                  </span>
                <% else %>
                  <span class="bg-secondary image-plug">
                    <%= book.title %>
                  </span>
                <% end %>
              <% end %>
              <% if user_signed_in? %>
                <div class='reaction-form-wrap'>
                  <%= render partial: 'book_reaction_form', locals: { book: book } %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <% if book.author %>
                <small class="d-block mb-3">
                  <%= link_to book.author.name, book.author %>
                </small>
              <% end %>
              <small class="d-block mb-3">
                <i><%= book.year_of_publication %></i>
              </small>
              <%= link_to book, class: 'btn btn-primary', title: :view do %>
                <i class="bi bi-eye"></i>
              <% end %>
              <% if user_signed_in? %>
                <% if policy(book).update? %>
                  <%= link_to edit_book_path(book), class: 'btn btn-success', title: :edit do %>
                    <i class="bi bi-pencil-square"></i>
                  <% end %>
                <% end %>
                <% if policy(book).destroy? %>
                  <%= link_to book, class: 'btn btn-danger', title: :destroy, method: :delete, data: { confirm: t('are_you_sure') } do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @pagy.pages > 1 %>
  <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
<% end %>
