<h1><%= t('.title') %></h1>
<%= link_to t('actions.add_record.book'), new_book_path %>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-6 col-xl-4">
      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="book-cover">
              <% if book.image.attached? %>
                <span class="book-cover-img"
                      style="background-image: url(<%= rails_blob_url(book.image) %>)">
                </span>
              <% else %>
                <span class="bg-secondary book-cover-plug">
                  <%= book.title %>
                </span>
              <% end %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <small><%= book.author.name %></small>
              <p class="card-text"><%= book.description %></p>
              <div>
                <%= render partial: 'book_reaction_form', locals: { book: book } %>
              </div>
              <%= link_to book, class: 'btn btn-primary' do %>
                <i class="bi bi-eye"></i>
              <% end %>
              <% if policy(book).edit? %>
                <%= link_to edit_book_path(book), class: 'btn btn-primary' do %>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
                <%= link_to book, class: 'btn btn-danger', method: :delete, data: { confirm: t('are_you_sure') } do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @pagy.pages > 1 %>
  <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
<% end %>
