<%= render partial: 'shared/breadcrumbs', locals: { links: [{ title: t('books.index.title'), url: books_path }], title: @book.title } %>

<div class="row">
  <div class="col-lg-4">
    <% if @book.image.attached? %>
      <p><%= image_tag @book.image %></p>
    <% else %>
      <div class='image-plug-wrap'>
        <div class='bg-secondary image-plug'>
          <%= @book.title %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-8">
    <h1><%= @book.title %></h1>
    <% if @book.original_title.present? %>
      <p><i><%= @book.original_title %></i></p>
    <% end %>
    <% if @book.author %>
      <p><%= link_to @book.author.name, author_path(@book.author) %></p>
    <% end %>
    <% if @book.description.present? %>
      <p><%= @book.description %></p>
    <% end %>
    <% if @book.goodreads_url.present? %>
      <p><%= link_to t('.goodreads'), @book.goodreads_url, target: '_blank' %></p>
    <% end %>
    <% if user_signed_in? %>
      <div class="actions mb-4">
        <% if policy(@book).update? %>
          <%= link_to t('actions.edit'), edit_book_path(@book), class: 'btn btn-success' %>
        <% end %>
        <% if policy(@book).destroy? %>
          <%= link_to t('actions.destroy'), @book, class: 'btn btn-danger', method: :delete, data: { confirm: t('are_you_sure') } %>
        <% end %>
      </div>
      <div class="actions mb-4">
        <%= link_to new_book_review_path(@book), class: 'btn btn-primary' do %>
          <i class="bi bi-journal-text"></i>
          <%= t('actions.add_record.review') %>
        <% end %>
      </div>
    <% end %>
    <% if @lists.any? %>
      <div class="actions mb-4" data-controller="visibility">
        <button class="btn border border-primary" data-action="click->visibility#toggle">
          <i class="bi bi-plus-lg"></i>
          <%= t('.add_to_list') %>
        </button>
        <ul class="list-group col-sm-6 mt-4 d-none" data-visibility-target="dynamic">
          <% @lists.each do |list| %>
            <li class="list-group-item d-flex justify-content-between">
              <%= list.title %>
              <% if list.books.exists?(id: @book.id) %>
                <%= form_with model: list, url: delete_book_list_path(list), method: :post do |form| %>
                  <%= form.hidden_field :book_id, value: @book.id %>
                  <%= form.submit :delete, class: 'btn btn-danger' %>
                <% end %>
              <% else %>
                <%= form_with model: list, url: add_book_list_path(list), method: :post do |form| %>
                  <%= form.hidden_field :book_id, value: @book.id %>
                  <%= form.submit :add, class: 'btn btn-primary' %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div>
  <h3>Reviews (<%= @number_of_reviews %>)</h3>
  <% @reviews.each do |review| %>
    <div class="card mb-4">
      <div class="card-header">
        <%= link_to review.title, book_review_path(review.book, review) %>
        <small>(reviewer: <%= link_to review.user.nickname, review.user %>)</small>
      </div>
      <div class="card-body">
        <p class="card-text"><%= review.content %></p>
      </div>
    </div>
  <% end %>
  <%= link_to "See all reviews", book_reviews_path(@book.id), class: 'btn btn-primary' %>
</div>
