<div class="row">
  <div class="col-md-6 col-xl-4">
    <%= form_with(model: review) do |form| %>
      <div class="d-grid gap-3">
        <% if review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

            <ul>
              <% review.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :title, class: 'form-label'%>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :content, class: 'form-label'%>
          <%= form.rich_text_area :content, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
