<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag('book.png', height: "35") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><%= t('header.nav.title') %></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to t('header.nav.books'), books_path, class: 'nav-link' %>
            <% if user_signed_in? && policy(Book).create? %>
              <ul class="navbar-nav navbar-submenu justify-content-end flex-grow-1 px-3">
                <li class="nav-item">
                  <%= link_to t('actions.add_record.book'), new_book_path, class: 'nav-link' %>
                </li>
              </ul>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to t('header.nav.authors'), authors_path, class: 'nav-link' %>
            <% if user_signed_in? && policy(Author).create? %>
              <ul class="navbar-nav navbar-submenu justify-content-end flex-grow-1 px-3">
                <li class="nav-item">
                  <%= link_to t('actions.add_record.author'), new_author_path, class: 'nav-link' %>
                </li>
              </ul>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to t('header.nav.lists'), lists_path, class: 'nav-link' %>
              <ul class="navbar-nav navbar-submenu justify-content-end flex-grow-1 px-3">
                <li class="nav-item">
                  <%= link_to t('actions.add_record.list'), new_list_path, class: 'nav-link' %>
                </li>
                <% current_user.lists.each do |list| %>
                  <li class="nav-item">
                    <%= link_to list.title, list, class: 'nav-link' %>
                  </li>
                <% end %>
              </ul>
            </li>
            <%= link_to t('users.index.title'), users_path, class: 'nav-link' %>
          <% end %>
          <li class="nav-item">
            <%= link_to t('header.nav.reviews'), reviews_path, class: 'nav-link' %>
            <% if user_signed_in? %>
              <ul class="navbar-nav navbar-submenu justify-content-end flex-grow-1 px-3">
                <li class="nav-item">
                  <%= link_to t('actions.add_record.review'), new_review_path, class: 'nav-link' %>
                </li>
              </ul>
            <% end %>
          </li>
          <hr>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to t('header.nav.edit_profile'), edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.nav.sign_out'), destroy_user_session_path, method: :delete, data: { confirm: t('are_you_sure') }, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to t('header.nav.log_in'), new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.nav.sign_up'), new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
